---
:ssh_keys:
- ~/.ssh/my_server_key
- ~/.ssh/my_server_key-eu
- ~/.ssh/my_server_key-west
:pass: myUltraSecurePasswordz
:user: myUserEmail@MyMailDomain.com
:api_url: https://my.rightscale.com/api/acct/00000000
:common_headers:
  X_API_VERSION: "1.0"
:azure_hack_on: true
:azure_hack_retry_count: 5
:azure_hack_sleep_seconds: 60
:api_logging: false
